body {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin: 0;
}

header {
	width:100%;
	display: block;
	background-color: #0A83A8;
  padding: 10px;
  position: relative;
}

.content {
 width: 400px;
 margin: 2vw;
 height: 90vh;
}

.t_table{
    width: 100%;
    border: 1px black;
}

#profile-pic {
    width: 200px;
    height: 200px;
}
.thead > th{
    height: 10px;
    border: 1px solid black;
    padding: 8px;
  
}

.tbody > td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  
}
footer{
	width: 100%;
	bottom:0px;
	position: fixed;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A83A8;
  width:100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:#67BAB2;
}