body {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin: 0;
}

header {
	width:100%;
	display: block;
	background-color: #0A83A8;
	padding-top: 5px;
	padding-bottom: 10px;
	position: relative;
}

.content {
 width: 95%;
 margin: 2vw;
 height: 90vh;
}

.t_table{
    max-width: 400px;
    border: 1px black;
}

#profile_pic {
    width: 150px;
    height: 150px;

}
.thead > th{
    background-color: rgba(0, 0, 0, 0.03);
    margin: 0px;
    height: 10px;
    border: 1px solid black;
    padding: 8px;
  
}

.tbody > td {
  margin: 0px;
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  
}

div + strong {
  text-decoration-line: underline;
  text-decoration-style: double;
}


footer{
	width: 100%;
	bottom:0;
	position: fixed;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A83A8;
  width:100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:#67BAB2;
}