body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
t_table{
    width: 100%;
    border: 1px black;
}


#profile-pic {
    width: 200px;
    height: 200px;
}
.thead > th{
    height: 10px;
    border: 1px solid black;
    padding: 8px;
  
}

.tbody > td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  
}